* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
  font-family: "Raleway", sans-serif;
}
input {
  text-align: center;
}
body {
  background: linear-gradient(
    180deg,
    #202a3c 0px,
    #202a3c 430px,
    #181f2a 430px,
    #181f2a 100%
  );
  text-align: center;
}
.main-container {
  margin: 0 auto;
  background-image: url(./assets/bg-curvy-mobile.svg);
  background-repeat: no-repeat;
  background-position: 0 290px;
}
/*Navbar*/
.header {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 60px;
  padding: 3% 5% 0px 5%;
  align-items: center;
}
.title {
  height: 25px;
}
.nav {
  justify-self: end;
  font: 14px "Raleway", sans-serif;
  color: rgb(204, 213, 226);
}
.nav-item {
  margin-left: 10px;
}

/*Section 1*/
.section1 {
  width: 80%;
  margin: 40px 0px 0px 10%;
  text-align: center;
  font-family: "Raleway";
  color: white;
}
.section1-img {
  width: 100%;
}
.section1-text1 {
  margin: 20px 0 20px 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 35px;
}
.section1-text2 {
  margin-bottom: 50px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.section1-btn {
  width: 200px;
  height: 40px;
  font-weight: 700;
  border-radius: 20px;
  color: white;
  background: linear-gradient(
    90deg,
    rgba(129, 217, 212, 1) 5%,
    rgba(80, 182, 226, 1) 100%
  );
}
/*section2*/
.section2 {
  font-family: "Raleway";
  color: white;
  width: 80%;
  margin: 80px 0 0 10%;
}
.section2-item {
  text-align: center;
  margin-bottom: 60px;
}
.section2-img {
  height: 60px;
  margin: 20px 0 20px 0;
}
.section2-item-title {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 15px;
}
.section2-item-text {
  font-size: 14px;
  line-height: 20px;
}
/*section3*/
.section3-img {
  margin-top: 40px;
  width: 100%;
}
.section3 {
  color: white;
  font-size: 14px;
  width: 80vw;
  margin-left: 10vw;
  text-align: left;
}
.section3-title {
  margin-top: 50px;
  font-size: 16px;
  font-weight: 700;
}
.section3-text {
  margin-top: 20px;
}
.section3-link {
  margin: 20px 0 0px 0;
  height: 40px;
  color: #62e0d9;
  display: grid;
  grid-template-columns: 5fr 1fr;
  align-items: center;
  justify-items: center;
  background: none;
  border-bottom: 2px solid #62e0d9;
}
/*section4*/
.section4 {
  margin: 100px 10vw 0 10vw;
  color: white;
}
.section4-card {
  margin: 30px auto;
  background-color: #202a3c;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  max-width: 400px;
}
.section4-text {
  margin: 20px 10px 20px 15px;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  font-family: "Open Sans";
}
.section4-profile {
  margin: 0 0 0px 10px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 1fr;
  font-size: 12px;
}
.section4-img {
  height: 30px;
  grid-row-start: span 2;
  border-radius: 50%;
}
.section4-name {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
  text-align: left;
  font-family: "Open Sans";
}
.section4-position {
  font-size: 10px;
  text-align: left;
}
/*section5*/
.section5 {
  justify-self: center;
  position: absolute;
  width: 90vw;
  margin: 100px 5vw;
  padding: 40px 0px 30px 0px;
  background-color: #1c2431;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.section5-title {
  color: white;
  font-weight: 700;
  font-size: 18px;
}
.section5-text {
  margin: 20px 20px 30px 20px;
  color: white;
  font-size: 14px;
  line-height: 20px;
}
.section5-input {
  width: 85%;
  height: 40px;
  border-radius: 50px;
}
.section5-button {
  margin-top: 20px;
  width: 85%;
  height: 40px;
  border-radius: 50px;
  background: linear-gradient(
    90deg,
    rgba(129, 217, 212, 1) 5%,
    rgba(80, 182, 226, 1) 100%
  );
  color: white;
}
.footer {
  font-size: 14px;
  line-height: 20px;
  background-color: hsl(216, 53%, 9%);
  height: auto;
  margin-top: 300px;
  text-align: start;
  display: grid;
  grid-template-columns: 3fr 10fr;
}
.footer-logo {
  height: 50px;
  margin: 200px 0 50px 40px;
  grid-column-start: span 2;
}
.footer-contact-icons {
  color: white;
  margin-left: 10vw;
}
.footer i {
  color: white;
}
.footer-text {
  color: white;
  width: 90%;
  margin-bottom: 15px;
}
.footer-links-container {
  grid-column: 1 / span 2;
}
.footer a {
  color: white;
}
.footer-links-container {
  margin: 10px 0 30px 0;
}
.footer-links {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin-top: 20px;
}
.footer-links a {
  margin: 15px 0 0 10vw;
}
.social {
  grid-column: 1 / span 2;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.circle-icon {
  border-style: solid;
  border-color: white;
  border-width: 1px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  text-align: center;
  line-height: 10px;
  vertical-align: middle;
  padding: 10px;
}
.footer-social-icons {
  margin: 0 2% 0 2%;
}
.social i {
  font-size: 12px;
}
/* for screens bigger than 1024 */

@media only screen and (min-width: 1024px) {
  body {
    background: linear-gradient(
      180deg,
      #202a3c 0px,
      #202a3c 1400px,
      #181f2a 1400px,
      #181f2a 100%
    );
    justify-content: center;
  }
  .main-container {
    background-image: url(./assets/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-position: 0 950px;
    background-size: 100vw 50vh;
  }
  /*navbar*/
  .title {
    height: 50px;
  }
  .nav-item {
    margin-left: 50px;
  }
  /*section1*/
  .section1 {
    width: 50%;
    margin-left: 25%;
  }
  .section1-text1 {
    font-size: 45px;
    line-height: 55px;
    margin: 50px 0 30px 0;
  }
  .section1-text2 {
    width: 60%;
    margin: 0 0 50px 20%;
    font-size: 18px;
    line-height: 28px;
  }
  .section1-btn {
    width: 300px;
    height: 60px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 30px;
  }
  /*section2*/
  .section2 {
    width: 60%;
    margin: 450px 0 0 20%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 10%;
    justify-items: center;
  }
  .section1-img {
    width: 60%;
  }
  .section2-item {
    width: 100%;
  }
  /*section3*/
  .section3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    align-items: center;
    width: 70%;
    margin-left: 15%;
  }
  .section3-title {
    font-size: 45px;
    width: 500px;
  }
  .section3-text {
    font-size: 16px;
    line-height: 25px;
    width: 30vw;
  }
  .section3-link {
    font-size: 16px;
  }
  .section3-img {
    min-width: 30vw;
  }
  /*section4*/
  .section4 {
    margin: 200px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    justify-items: center;
    width: 70vw;
    min-width: 1000px;
    max-width: 1200px;
  }
  /*section5*/
  .section5 {
    width: 40%;
    margin: 0 auto 0 auto;
    left: 0;
    right: 0;
    padding: 40px 40px 20px 40px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 3fr 3fr;
  }
  .section5-title {
    font-size: 30px;
    grid-column-start: 1;
    grid-column-end: 3;
    align-self: center;
  }
  .section5-text {
    width: 80%;
    grid-column-start: 1;
    grid-column-end: 3;
    align-self: center;
    margin: 20px auto 30px auto;
  }
  .section5-input {
    grid-column-start: 1;
    grid-column-end: 2;
    align-self: center;
    justify-self: center;
    width: 90%;
  }
  .section5-button {
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: center;
    margin-top: 0px;
  }
  /*footer*/
  .footer {
    grid-template-columns: 20vw 20vw 50px 15vw 300px 20vw;
    grid-template-rows: 500px 50px 50px 300px;
  }
  .footer-logo {
    margin: 0 0 0 0;
    grid-row: 1;
    grid-column: 1 / span 2;
    align-self: flex-end;
    margin: 0 0 50px 18vw;
    height: 80px;
  }
  .map-icon {
    grid-row-start: 2;
    grid-column-start: 1;
    font-size: 20px;
    margin: 20px 30px;
    text-align: right;
  }
  .address {
    display: flex;
    justify-self: left;
    align-self: center;
    margin: 0 0 0 0;
    grid-row: 2 / span 2;
    grid-column-start: 2;
    width: 80%;
  }
  .number-icon {
    display: flex;
    justify-self: center;
    align-self: center;
    margin: 0 0 0 0;
    grid-row-start: 2;
    grid-column-start: 3;
  }
  .number {
    grid-row-start: 2;
    grid-column-start: 4;
    display: flex;
    justify-self: center;
    align-self: center;
    margin: 0;
  }
  .mail-icon {
    display: flex;
    justify-self: center;
    align-self: center;
    margin: 0 0 0 0;
    grid-row-start: 3;
    grid-column-start: 3;
  }
  .mail {
    display: flex;
    justify-self: center;
    align-self: center;
    grid-row-start: 3;
    grid-column-start: 4;
    margin: 0;
  }
  .footer-links-container {
    grid-row: 2 / span 3;
    grid-column: 5;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer-links a {
    margin: 0 0 15px 0;
  }
  .footer-links {
    grid-template-rows: 40px 40px 40px 40px;
  }
  .social {
    align-items: flex-end;
    grid-row-start: 2;
    grid-column-start: 6;
    height: 100%;
    margin: 0;
  }
}

/* Ultrawide*/
@media only screen and (min-width: 2000px) {
  .section1-img {
    width: 50%;
  }
}
